*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #77cefa, #7eecac);
}

.columns {
	display: flex;
	height: 100%;
}

.column.is-3 {
	width: 25%;
}

.column.is-6 {
	flex: none;
	width: 50%;
}

.textarea {
	display: block;
	max-width: 100%;
	min-width: 100%;
	padding: 0.625em;
	resize: vertical;
	border: 1px solid transparent;
	box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
}

.names {
	padding: 10px;
}

#deathlist {
}

#entries {
	overflow: auto;
	float: right;
	height: 380px;
	border: 2px solid #dbdbdb;
}

#gameScreen {
	width: 100%;
	height: 720px;
	border: 1px solid black;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	background-color: white;
}
nav {
	display: flex;
	height: 90px;
}

.a {
	text-decoration: none;
	display: block;
	position: relative;
	text-align: center;
	padding: 25px 25px;
	color: black;
	font-size: 25px;
	margin: 0;
}

.a.slide::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	transition: transform 300ms ease-in-out;

	transform: scaleX(0);
	transform-origin: left;
}

.a.slide:hover::before,
.a.slide:focus::before {
	transform: scaleX(1);
}

.a.slide {
	transition: color 300ms ease-in-out;
	z-index: 1;
}

.a.slide:hover,
.a.slide:focus {
	color: white;
	z-index: 1;
}

#recents {
	margin: 25px;
}
