*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #181a18;
	color: white;
}

@keyframes change-text {
	0% {
		content: "Got Too Many Choices?";
		opacity: 0%;
	}
	33% {
		content: "Too Many Things to Choose From?";
		opacity: 0%;
	}
	66% {
		content: "We Got You.";
		opacity: 0%;
	}
	100% {
		content: "Got Too Many Choices?";
		opacity: 0%;
	}
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

.front {
	height: 90vh;
	text-align: center;
	padding: 10vh;
}

.front .border {
	height: 100%;
	border: 5px solid white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.front .border span {
	display: none;
	align-items: center;
}

.front .border::after {
	content: "Got Too Many Choices?";
	font-size: xx-large;
	color: white;
	margin: 0;
	opacity: 0%;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	animation: change-text 6s linear 1.1s infinite, fade-in 2s linear infinite;
}

.front .border h1 {
	font-size: xx-large;
	margin: 0;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

@keyframes up-and-down {
	0% {
		top: 83vh;
	}
	70% {
		top: 82vh;
	}
	85% {
		top: 84vh;
	}
	93% {
		top: 82vh;
	}
	100% {
		top: 83vh;
	}
}

.front .arrow-icon {
	position: absolute;
	transform: translate(-50%, -50%);

	top: 10vh;
	animation: up-and-down 1.8s infinite;
}

.front .arrow-icon:hover {
	cursor: pointer;
}

.columns {
	display: flex;
	height: 100%;
	padding-top: 2.5vh;
}

.column.is-3 {
	width: 25%;
	padding-left: 2vh;
	padding-right: 2vh;
}

.column.is-6 {
	flex: none;
	width: 50%;
}

.names {
	padding: 0px;
	margin: 0px;
}

.textarea {
	display: block;
	max-width: 100%;
	min-width: 100%;
	padding: 0.625em;
	resize: vertical;
	border: 1px solid transparent;
	box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
}

#entries {
	overflow: auto;
	float: right;
	height: 380px;
	border: 2px solid #dbdbdb;
}

#gameScreen {
	width: 100%;

	border: 1px solid white;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.navbar {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7.5%;
	background-color: #0e1111;
	--background-color: #0e1111;
	--border-size: 2px;
	--accent-color: white;
}

.navbar .a.underline.web-name {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.4rem;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1.4rem;
	display: block;
	font-size: 1.25rem;
}

.a {
	text-decoration: none;
	display: block;
	position: relative;
	text-align: center;
	color: white;
	margin: 0;
}

.a.underline::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: var(--border-size);
	background-color: var(--accent-color);
	transition: transform 300ms ease-in-out;

	transform: scaleX(0);
}

.a.underline:hover::before,
.a.underline:focus::before {
	transform: scaleX(1);
}

.toggle-button {
	position: absolute;
	top: 1.6rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: 0.5rem, 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}

#recents {
	margin: 25px;
}

.tabs {
	border-bottom: 1px solid white;
}

.tab {
	text-decoration: none;
	padding: 10px;
	border: none;
	background-color: black;
	color: white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.tab:hover,
.tab:focus {
	background-color: white;
	color: black;
	transition: background-color 0.5s, color 0.5s;
}

.tab.active {
	background-color: white;
	color: black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;

	transition: background-color 0.5s, color 0.5s;
}

@keyframes opac {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.info {
	position: relative;
	animation: opac 0.8s;
}

/* Characters Page */

.characters_list {
	width: 15%;
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 95%;
	margin: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}
