*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #181a18;
	color: white;
}

.columns {
	display: flex;
	height: 100%;
	padding-top: 2.5vh;
}

.column.is-3 {
	width: 25%;
	padding-left: 2vh;
	padding-right: 2vh;
}

.column.is-6 {
	flex: none;
	width: 50%;
}

.names {
	padding: 0px;
	margin: 0px;
}

.textarea {
	display: block;
	max-width: 100%;
	min-width: 100%;
	padding: 0.625em;
	resize: vertical;
	border: 1px solid transparent;
	box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
}

#entries {
	overflow: auto;
	float: right;
	height: 380px;
	border: 2px solid #dbdbdb;
}

#gameScreen {
	width: 100%;

	border: 1px solid white;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.navbar {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5%;
	background-color: #0e1111;
	--background-color: #0e1111;
	--border-size: 2px;
	--accent-color: white;
}

.navbar .a.underline.web-name {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.4rem;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1.4rem;
	display: block;
	font-size: 1.25rem;
}

.a {
	text-decoration: none;
	display: block;
	position: relative;
	text-align: center;
	color: white;
	margin: 0;
}

.a.underline::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: var(--border-size);
	background-color: var(--accent-color);
	transition: transform 300ms ease-in-out;

	transform: scaleX(0);
}

.a.underline:hover::before,
.a.underline:focus::before {
	transform: scaleX(1);
}

.toggle-button {
	position: absolute;
	top: 1.6rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: 0.5rem, 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}

#recents {
	margin: 25px;
}

.characters_list {
	width: 15%;
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 95%;
	margin: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}
